{% extends "base.html" %}

{% import "macros.html" as macros %}

{% block header %}
    {% include "partials/header.html" %}
{% endblock header %}

{% block extra_includes %}
  {{ macros::inline_style(path='tags.css') }}
{% endblock extra_includes %}

{% block content %}
<main class="fade-in">
  <h1>Tags</h1>

  <div class="tags-list">
    {% for tag in terms %}
      <a class="tag" href="{{ get_taxonomy_url(kind='tags', name=tag.slug) }}">
        {{ tag.name }}<span class="muted">{{ tag.pages | length }}</span>
      </a>
    {% endfor %}
  </div>
</main>
{% endblock content %}