.icon-left {
	background-image: url("/icons/left.svg");
	background-repeat: no-repeat;
	height: 3rem;
	width: 3rem;
}

.icon-right {
	background-image: url("/icons/right.svg");
	background-repeat: no-repeat;
	height: 3rem;
	width: 3rem;
}
