.contact-links {
	white-space: nowrap;
	word-spacing: normal;
	letter-spacing: normal;
	text-align: center;
	padding: 0.5em;
	vertical-align: middle;
	display: flex;
	justify-content: center;

	a {
		margin: 0 1.5em;
		vertical-align: middle;
		display: inline-block;
		margin-right: 0.2em;
		padding: 0;
		&:hover {
			img {
				opacity: 1;
			}
		}
	}

	.icon {
		width: 24px;
		height: 24px;
		vertical-align: middle;
	}
}

$avatar-height: 15rem;
.avatar {
	margin: 0;
	width: $avatar-height;
	border-radius: $avatar-height;
}

.easy-flex {
	width: 100%;
	display: flex;
	> * {
		flex-grow: 1;
	}

	button,
	.btn {
		border-radius: 0px;
		text-transform: uppercase;
	}
}

.date-title {
	width: 100%;
	display: flex;
	> :last-child {
		margin-left: auto;
	}

	button {
		border-radius: 0px;
		text-transform: uppercase;
	}
}

.post {
	cursor: pointer;
}

.centered {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
