.contact-links {
	white-space: nowrap;
	word-spacing: normal;
	letter-spacing: normal;
	text-align: center;
	padding: 0.5em;
	vertical-align: middle;
	display: flex;
	justify-content: center;

	a {
		margin: 0 1.5em;
		vertical-align: middle;
		display: inline-block;
		margin-right: 0.2em;
		padding: 0;
		&:hover {
			img {
				opacity: 1;
			}
		}
	}

	.icon {
		width: 24px;
		height: 24px;
		vertical-align: middle;
	}
}

.avatar {
	margin: 0;
	width: 13em;
	border-radius: 6.5em;
}
