.contact-links {
	white-space: nowrap;
	word-spacing: normal;
	letter-spacing: normal;
	text-align: center;
	padding: 0.5em;
	vertical-align: middle;
	display: flex;
	justify-content: center;

	a {
		margin: 0 1.5em;
		vertical-align: middle;
		display: inline-block;
		margin-right: 0.2em;
		padding: 0;
		&:hover {
			img {
				opacity: 1;
			}
		}
	}

	.icon {
		width: 24px;
		height: 24px;
		vertical-align: middle;
	}
}
.easy-flex {
	width: 100%;
	display: flex;
	> * {
		flex-grow: 1;
	}

	button,
	.btn {
		border-radius: 0px;
		text-transform: uppercase;
	}
}

.date-title {
	width: 100%;
	display: flex;
	> :last-child {
		margin-left: auto;
	}

	button {
		border-radius: 0px;
		text-transform: uppercase;
	}
}

.centered {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.avatar-header-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding-left: 1rem;
	padding-top: 1rem;

	> * {
		margin-top: auto;
		margin-bottom: auto;
	}

	$avatar-height: 15rem;
	.avatar {
		margin: 0;
		width: $avatar-height;
		border-radius: $avatar-height;
	}

	.name {
		font-size: 5rem;
		font-weight: bold;
	}
	.subheader {
		font-size: 2rem;
	}

	@media only screen and (max-width: 40rem) {
		// flex-direction: column;
		// text-align: center;

		$avatar-height: 10rem;
		.avatar {
			width: $avatar-height;
			border-radius: $avatar-height;
			margin-bottom: 1rem;
		}

		.name {
			font-size: 2rem;
		}
		.subheader {
			font-size: 1rem;
		}
	}
}

.fancy-header {
	text-align: center;
}

.section-link {
	cursor: pointer;
	color: inherit;
	&:hover {
		text-decoration: none;
	}
}

.image-container {
	display: flex;
	margin-top: auto;
	margin-bottom: auto;

	> :first-child {
		padding-right: 1rem;
	}

	.simple-image {
		object-fit: contain;
		display: block;
		margin-left: auto;
		margin-right: auto;

		&.small {
			$small-width: 10rem;
			min-width: $small-width;
			max-width: $small-width;
		}
	}

	@media only screen and (max-width: 45rem) {
		flex-direction: column-reverse;
		> :first-child {
			padding-right: 0;
			padding-top: 1rem;
		}

		.simple-image.small {
			$medium-width: 20rem;
			min-width: $medium-width;
			max-width: $medium-width;
		}
	}
}

body {
	background-color: #364451 !important;
}

.fancy-canvas {
	position: absolute;
	width: 100%;
	height: 100%;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index: -1;
}
