<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode }}">
	{{- partial "head.html" . -}}
	<body class="spotlight">
		{{- partial "header.html" . -}}

		<div class="hero-card fade-in">
			<div class="info">
				<h1>
					{{- $.Site.Author.name -}}
				</h1>

				{{- if $.Site.Author.job_title -}}
					<h2>
						{{- $.Site.Author.job_title -}}
					</h2>
				{{- end -}}

				<div class="visible-on-mobile">
					{{- partial "socials.html" . -}}
				</div>
			</div>

			{{- if $.Site.Author.profile_pic_url -}}
				{{ partial "responsive-image.html" ( dict
					"Destination" $.Site.Author.profile_pic_url
					"Text" "A slightly outdated photo of me"
					"Class" "avatar"
					"Preemptive" true
				) }}
			{{- end -}}
		</div>

		{{- partial "footer.html" . -}}
	</body>
</html>