@import "_syntax.scss";

article {
	p {
		line-height: 1.5;
	}

	.highlight {
		position: relative;
	}

	ul {
		list-style-type: disc;
	}

	pre {
		overflow: auto;
		font-size: 0.9rem;
		line-height: 1.5;
		white-space: pre;
		padding: 0.7em 1.1em;
	}

	.copy-button {
		position: absolute;
		bottom: 7px;
		right: 7px;
		border: 0;
		border-radius: 4px;
		padding: 1px;
		font-size: 0.7em;
		line-height: 1.8;
		color: #fff;
		background-color: rgba(114, 114, 114, 0.8);
		opacity: 0.6;
		min-width: 55px;
		text-align: center;
		cursor: pointer;
	}

	.copy-button:hover {
		background-color: #666;
	}

	details {
		padding: 1rem;
		background-color: #282a36;

		summary {
			cursor: pointer;
		}
		p:last-child {
			margin-bottom: 0;
		}
	}

	.tags {
		.tag:not(:last-child) {
			padding-right: 5px;
		}
	}
	p a {
		text-decoration: underline;
	}

	:not(pre) > code {
		background-color: #242424;
		padding: 0.2em 0.4em;
		margin: 0;
		font-size: 85%;
		border-radius: 6px;
	}

	table {
		border-spacing: 0;
		border-collapse: collapse;
		margin-top: 0;
		display: block;
		width: 100%;
		width: max-content;
		max-width: 100%;
		overflow: auto;

		th {
			font-weight: 600;
		}

		tr {
			background-color: #0d1117;
			border-top: 1px solid var(--color-border-muted);

			&:nth-child(2n) {
				background-color: #161b22;
			}
		}

		th,
		td {
			padding: 6px 13px;
			border: 1px solid #30363d;
		}
	}

	img {
		width: 100%;
	}
}

.sibling-post-links {
	display: flex;
	justify-content: space-between;

	$margin: 6px;
	> * {
		box-sizing: border-box;
		width: calc(50% - #{$margin});
		display: flex;
		flex-direction: column;
		background: black;
		border-radius: 6px;
		padding: 1rem;
	}

	.next-post {
		text-align: right;
	}

	.label {
		font-size: 0.8em;
		opacity: 0.8;
		text-transform: uppercase;
	}
}
