html {
	-webkit-print-color-adjust: exact;
}

.resume {
	line-height: 1.5;
	font-size: 1em;

	&.take1 {
		padding: 1em;

		.content {
			max-width: 50em;

			.contacts {
				display: grid;
				grid-template-columns: auto auto;
				grid-gap: 0px 10px;
				align-items: right left;
				font-family: Georgia, sans-serif;

				margin-top: 20px;
				margin-left: 20px;
				margin-right: 20px;

				font-size: 0.9em;
				font-family: sans-serif;

				/* first column */
				> :nth-child(2n-1) {
					text-align: right;
				}

				/* second column */
				> :nth-child(2n) {
					text-align: left;
				}
			}
		}
	}


	&.take2 {
		.content {
			> .header {
				background-color: #363d47;
				padding: 1em;
				* {
					color: white !important;
				}
			}

			.contacts {
				.header {
					font-weight: bold;
					border-bottom: 1px solid black;
				}
			}
		}

		.body {
			display: grid;
			grid-template-columns: 70% 30%;
			> * {
				padding: 1em;
			}
		}

		.sidebar {
			background-color: #e9e9e9;
			.label {
				color: black;
				font-weight: bold;
			}
		}
	}

	.content {
		margin: 0 auto;
		position: relative;
		font-family: Georgia, sans-serif;

		.section {
			> .header {
				font-size: 0.9em;
				text-transform: uppercase;
				font-weight: bold;
				font-family: Bitter, Georgia, sans-serif;
				color: #0c6fa9;
				margin-top: 1.6em;
			}
		}

		.namesection {
			font-size: 3.2rem;
			font-family: Bitter, Georgia, sans-serif;

			.name {
				margin-top: 0;
				color: #0c6fa9;
				font-weight: normal;
			}

			.position {
				font-size: 0.5em;
				color: #444;
				font-weight: normal;
			}
		}

		.label {
			color: #bbb;
			display: inline-block;
		}
		.grid {
			display: flex;
			flex-wrap: wrap;

			> :first-child {
				width: auto;
				flex-grow: 2;
			}

			> :last-child {
				flex-grow: 1;
			}
		}

		.skills {
			display: inline;
			padding: 0.5rem;
			> * {
				background-color: grey;
				padding: 0.5rem;
				margin: 0.5rem;
			}
		}

		.project {
			background: #f7f7f7;
			// max-width: 30em;
			color: #444;
			padding: 0.5em 1em;
			// margin-bottom: 1em;
			// margin-right: 0.5em;
			// margin-left: 0.5em;
			margin-bottom: 1em;
			&:last-child {
				margin-bottom: 0em;
			}
		}

		.teams {
			margin-left: 1em;

			> * {
				margin-bottom: 1em;
			}
		}

		.teamheader {
			display: grid;
			grid-template-columns: auto auto;

			.label {
				margin-right: 0.5em;
			}

			.companyname {
				font-weight: bold;
				// width: 10em;
			}

			.companyname,
			.role,
			.teamname {
				display: inline-block;
			}

			.name {
				a {
					text-decoration: none;
					color: initial;
				}
				text-align: left;

				.subtitle {
					color: #666;
					font-family: Bitter, Georgia, serif;
					font-size: 0.9em;

					&.extra {
						margin-left: 2em;
					}

					&:last-child {
						margin-bottom: 1em;
					}
				}
			}
		}

		.period {
			text-align: right;
			font-family: sans-serif;
			font-size: 0.8em;
			line-height: 2;
			color: #888;
		}
	}
}
