{{- define "header" -}}
	{{- partialCached "header.html" . -}}
{{- end -}}

{{- define "main" -}}
	<main class="fade-in">
		<h1>{{- .Title -}}</h1>
		{{- if .Content -}}
			<div>
				{{- .Content -}}
			</div>
		{{- end -}}

		{{- $activePage := . -}}
		{{- range .Data.Pages.GroupByDate "2006" -}}
			<div class="posts-group">
				{{- $id := .Key -}}
				<a href="{{- $activePage.RelPermalink -}}#{{- $id -}}" class="posts-year" id="{{- $id -}}">{{- .Key -}}</a>
				<ul class="posts-list">
					{{- range .Pages -}}
					<li class="post-item">
						{{- if .Params.Link -}}
							<a href="{{.Params.Link}}" class="wrappable-container">
								<div class="post-title">{{.Title}}</div>
								{{/* partialCached "svg.html" "external-link" */}}
								<div class="post-day">{{ .Date.Format .Site.Params.dateformShort }}</div>
							</a>
						{{ else }}
							{{ errorf "ERROR: fill in the link for %s, please" .Path}}
						{{ end }}
					</li>
					{{- end }}
				</ul>
			</div>
		{{- end }}
	</main>
{{ end }}

{{ define "footer" }}
	{{ partialCached "footer.html" . }}
{{ end }}
