<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode }}">
	{{- partial "head-resume.html" . -}}

	<body class="resume">
		{{/* printf "%#v" $.Site.Data.resume */}}
		{{- with $.Site.Data.resume -}}
		<div class="header">
			<div class="name-section">
				<h1>{{- $.Site.Author.name -}}</h1>
				<h2>{{- $.Site.Author.job_title -}}</h2>
			</div>
			<div class="contacts">
				{{- .contact.email -}}
				<span class="right-label">{{- i18n "email" -}}</span>
			</div>
		</div>

		<div class="section">
			<h3>{{- i18n "experience" -}}</h3>
			{{- range .experiences -}}
				<div class="team-header">
					<div class="name">
						<span class="left-label">{{- i18n "company" -}}</span>
						<a class="company-name" href="{{- .company.website -}}">{{- .company.name -}}</a>
						<div class="subtitle">{{- .company.description -}}</div>
					</div>
					<div class="period">{{- .company.period -}}</div>
				</div>

				{{- range .company.teams -}}
				<div class="teams">
					<div class="team-header">
						<div class="name">
							<span class="left-label">{{- i18n "team" -}}</span>
							<span>{{- .name -}}</span>
						</div>
						<div class="period">{{- .period -}}</div>
					</div>

					{{- range .projects -}}
					<div class="blurb">
						{{- . -}}
					</div>
					{{- end -}}
				</div>
				{{- end -}}
			{{- end -}}
		</div>

		<div class="section">
			<h3>{{- i18n "education" -}}</h3>
			{{- range .educations -}}
				<div class="team-header">
					<div class="name">
						<span>{{- .description -}}</a>
						<div class="subtitle">{{- .degree -}}</div>
						{{- with .extra -}}
							<div class="subtitle extra">{{- . -}}</div>
						{{- end -}}
					</div>
					<div class="period">{{- .period -}}</div>
				</div>
			{{- end -}}
		</div>

		{{- end -}}
	</body>
</html>