{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block header %}
    {% include "partials/header.html" %}
{% endblock header %}

{% block content %}
	<div class="error-404 animated fadeIn">
		<p class="img-404">
		</p>
		<div class="banner-404">
			<h1>404</h1>
			<p>{{ config.extra.strings.not_found }}</p>

			{#
			<p class="btn-404">
				<a href="{{ config.base_url }}"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>{{ config.extra.strings.home }}</a>
				{{ macros::icon(name="lighthouse") }}
			</p>
			#}
		</div>
	</div>
{% endblock content %}
