{% import "macros.html" as macros %}

<!DOCTYPE html>
<html lang="{{ config.default_language }}">

<head>
	{% block head %}
	{% include "partials/head.html" %}
	{% endblock head %}

	{% block basic_includes %}
	{{ macros::style(path='style.css') }}
	{% endblock basic_includes %}

	{% block extra_includes %}
	{% endblock extra_includes %}
</head>

<body>
	{% block header %}
		<header class="app-header slide-in-from-top">
			<nav>
				{% for menu_item in config.extra.menus %}
				{% set is_active = false %}
				{% if current_path %}
					{% set is_active = current_path == menu_item.url %}
				{% endif %}

				<a href="{{ menu_item.url }}" {% if is_active %}class="active" {% endif %}>{{ menu_item.name }}</a>
				{% endfor %}

				{% block extra_nav_item %}
				{% endblock extra_nav_item %}
			</nav>

			{% include "partials/socials.html" %}
		</header>
	{% endblock header %}

	{% block contentwrapper %}
	<div class="content-wrapper">
		<div class="content">
			{% block content %}
			{% endblock content %}
		</div>

		{% block footer %}
		{% include "partials/footer.html" %}
		{% endblock footer %}
	</div>
	{% endblock contentwrapper %}
</body>

</html>