{% extends "base.html" %}

{% import "macros.html" as macros %}

{% block basic_includes %}
    {{ macros::inline_style(path='resume.css') }}
{% endblock basic_includes %}

{% block header %}
{% endblock header %}


{% block contentwrapper %}
    {% set resume = load_data(path="resume/resume.toml") %}
    <div class="header">
        <div class="name-section">
            <h1>{{- resume.metadata.name -}}</h1>
            <h2>{{- resume.metadata.title -}}</h2>
        </div>
        {% if resume.metadata.email %}
            <div class="contacts">
                {{ resume.metadata.email }}
                <span class="label">email</span>
            </div>
        {% endif %}
    </div>

    {% for section in resume.data.sections %}
    <div class="section">
        <h3>{{ section.title }}</h3>
        {{- macros::experiences(experiences=section.experiences) -}}

        {% for organization in section.organizations %}
            {{- macros::organization(organization=organization) -}}
        {% endfor %}
    </div>
    {% endfor %}
{% endblock contentwrapper %}