@use "sass:map";

$color-header-background: #222831;
$color-background: #1b1b1e;
$color-text: rgb(232, 238, 242);
$color-link: $color-text;
$color-link-visited: $color-text;
$color-link-hover: #fff;
$color-header-active: $color-link-hover;
$color-details-header: #282a36;
$color-text-shadow: #fff;
$color-svg-fill: rgb(232, 238, 242);
$post-item-border-bottom: #7d828a;
$color-details-body: $color-header-background;
$tag-border: #fff;
$toc-border-color: #fff;
$color-card-background: #2b2c2f; // NOTE: this is meant to correspond to the code block background
$color-quote-background: black;
