@import "_syntax.scss";
@import "_theme.scss";

article {
	margin-bottom: 3rem;

	h2 {
		padding-top: 1rem; /* margin collapse will kill me someday */
	}

	p {
		line-height: 1.5;
	}

	.highlight {
		position: relative;
	}

	ul {
		list-style-type: disc;
	}

	pre {
		// Overrides
		border: 1px solid #2f363d; // TODO: put this in theme.scss

		position: relative;
		border-radius: 4px;
		display: block;
		overflow: auto;
		font-size: 0.9rem;
		line-height: 1.5;
		position: relative;

		@mixin before($selector, $content) {
			&.#{$selector}:before {
				content: $content;
				padding: 0.2rem 0.5rem;
				background: #444d56;
				border-radius: 0 0 8px 0;
				font-weight: bold;
			}
		}

		@include before("language-js", "JavaScript code");
		@include before("language-ts", "TypeScript code");
		@include before("language-rust", "Rust code");
		@include before("language-html", "HTML");

		:before {
			padding: 0.2rem 0.5rem;
			background: #444d56;
			border-radius: 0 0 8px 0;
			font-weight: bold;
		}

		code {
			display: block;
			min-width: max-content;
			overflow: hidden;
			tab-size: 2;
			padding: 0.7em 1.1em;
		}
	}

	.copy-button {
		margin-left: 1rem;
		border: 0;
		border-radius: 4px;
		padding: 1px;
		font-size: 0.7em;
		line-height: 1.8;
		color: #fff;
		background-color: rgba(114, 114, 114, 0.8);
		opacity: 0.6;
		min-width: 55px;
		text-align: center;
		cursor: pointer;
	}

	.copy-button:hover {
		background-color: #666;
	}

	details {
		$margin: 16px;
		background-color: $color-details-body;
		padding: 0.5rem;
		height: auto;
		max-height: 1.5rem; /* set to line height */
		transition: all 0.1s ease;

		&[open] {
			max-height: 99rem;
			transition: all 1s ease;
		}

		summary {
			margin: -0.5em -0.5em 0;
			padding: $margin;
			cursor: pointer;
			background-color: $color-details-header;
		}

		> * {
			margin: $margin;
			padding: 0;
		}
	}

	.tags {
		font-size: 0.8rem;
		line-height: normal;
		opacity: 0.6;

		.tag {
			white-space: nowrap;
			&:not(:last-child) {
				padding-right: 5px;
			}
		}
	}

	p a {
		text-decoration: underline;
	}

	:not(pre)>code {
		background-color: #242424;
		padding: 0.2em 0.4em;
		margin: 0;
		font-size: 85%;
		border-radius: 6px;
	}

	table {
		border-spacing: 0;
		border-collapse: collapse;
		margin-top: 0;
		display: block;
		width: 100%;
		width: max-content;
		max-width: 100%;
		overflow: auto;

		th {
			font-weight: 600;
		}

		tr {
			background-color: #0d1117;
			border-top: 1px solid var(--color-border-muted);

			&:nth-child(2n) {
				background-color: #161b22;
			}
		}

		th,
		td {
			padding: 6px 13px;
			border: 1px solid #30363d;
		}
	}

	img {
		width: 100%;
	}
}

.sibling-post-links {
	display: flex;
	justify-content: space-between;

	$margin: 6px;

	> * {
		box-sizing: border-box;
		width: calc(50% - #{$margin});
		display: flex;
		flex-direction: column;
		background: black;
		border-radius: 6px;
		padding: 1rem;
	}

	.next-post {
		text-align: right;
	}

	.title {
		white-space: nowrap;
		text-overflow: ellipsis;
		max-width: 100%;
		overflow: hidden;
	}

	.label {
		font-size: 0.8em;
		opacity: 0.8;
		text-transform: uppercase;
	}
}

.post-contents {
	position: relative;

	.sidenav {
		position: absolute;
		left: 100%;
		top: 0;
		height: 100%;
		width: calc( (100vw - 720px) / 2 - 1rem ); /* TODO: why does chrome need this slop? */
		font-size: 13px;

		@media (max-width: 1000px) {
			display: none;
		}

		.toc-wrapper {
			margin-left: 3rem;
			padding-top: 2rem;
			padding-bottom: 2rem;
			top: 3rem;
			position: sticky;
			list-style: none;
			border-left: 1px solid white;

			.toc-title, a {
				padding-top: 0.5rem;
				padding-bottom: 0.5rem;
				padding-left: 0.5rem;
			}

			.toc-title {
				font-weight: bold;
			}

			ul {
				list-style: none;
				margin: 0;
				padding: 0;
			}

			li {
				width: 100%;

				a {
					$left-padding: 30px;
					padding-left: $left-padding;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;

					display: block;
					&:active, &:hover {
						$width: 1px;
						border-left: $width solid $toc-border-color;
						padding-left: #{$left-padding - $width};
					}

					&.active {
						$width: 2px;
						border-left: $width solid $toc-border-color;
						padding-left: #{$left-padding - $width};
						font-weight: bold;
					}
				}
			}
		}
	}
}

.demo {
	background-color: #2b2c2f;
	padding: 20px;
}

.post-header {
	h1 {
		margin-bottom: 0;
	}

	hr {
		box-sizing: content-box;
		height: 0;
		overflow: visible;
		opacity: 0.2;
		border-width: 0 0 5px;
		border-bottom-width: 5px;
		border-style: dashed;
		background: 0 0;
		width: 50%;
		margin: 1.8em auto;

		width: 40%;
		margin-top: 0.5rem;
		margin-bottom: 0.8rem;
		margin-left: 0;
		border-style: solid;
		border-bottom-width: 4px;
	}
}